# ignore file types
*.dat
*.txt
*.jpg
*.png
*.pdf
*.o
*.exe
*.h5
*.gif
*.pyc
*.csv
*.json
*.xlsx
*.ipynb
# *SIMsalabim
*.py
*.html
*.rst
*.css
*.js

# ignore folders
__pycache__/
.vscode/
.ipynb_checkpoints/
dist/
# build/
.eggs/
temp/
warmstart/
venv_boar/
boar/__pycache__/
boar.egg-info/
old_notebook/
old_Notebooks2/
db_access/
slack_utils/
Notebooks_not_ready/
BOAR_DD_parallel.py
# SIMsalabim/*
# /SIMsalabim/*
# **/SIMsalabim
# boar/agents/TAS_agent_new.py

# Exceptions
# !docs/*.html
# !docs/*.png
# !docs/*.css
# !docs/*.js
# !docs/*.txt
# !docs/**
!docs/logo/**
!docs/index.html
!docs/source/*.rst
!docs/source/*.py
!docs/source/examples/*.ipynb
!Download_SIMsalabim.py
!Notebooks/*.ipynb
!Example_Data/Chao/*.csv
!Example_Data/Chao/device_parameters_chao.txt
!Example_Data/Data_test/device_parameters_fake_OPV.txt
!Example_Data/Christian/*.csv
!Example_Data/matdata/*.csv
!Example_Data/matdata/Biblio_info_to_cite.txt
!Example_Data/Jiyun/*.xlsx
!Example_Data/Frederik/*.csv
!Example_Data/Data_test/device_parameters_fake_OPV.txt
!Notebooks/BOAR_DD_parallel.py
!requirements.txt
!requirements_main.txt
!requirements_torch_CPU.txt
!setup.py
!boar/*.py
!boar/agents/*.py
!boar/core/*.py
!boar/dynamic_utils/*.py
!boar/SIMsalabim_utils/*.py
